APP_URL = 'http://localhost:3000'
GRAFANA_ADMIN_PASSWORD = 'your-grafana-password'
HASURA_GRAPHQL_ADMIN_SECRET = 'your-admin-secret'
NHOST_JWT_KID = 'your-jwt-key-id'
NHOST_JWT_PRIVATE_KEY = 'your-rsa-private-key'
NHOST_JWT_PUBLIC_KEY = 'your-rsa-public-key'
NHOST_WEBHOOK_SECRET = 'your-webhook-secret'
